form {
    margin: 20px;
    padding:40px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #000;
    border-radius:20px;
    width: 600px;
    text-align: center;
}

form input {
    display: block;
    text-align: center;
    margin: auto;
    outline:none;
    border-radius: 20px;
    background-color: #ddd;
    border: 1px solid black;
    width: 10vw;
    height: 3vh;
}

form button {
    margin-top: 20px;
    background-color: #1B99CF;
    border-radius: 30px;
    padding:15px;
    width: 200px;
}

.form-pred {
    width: 600px;
}