
.form__container {
  font-family: "Roboto", sans-serif;
  margin:25px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10%;
  padding: 30px;
  box-shadow: 7px 7px 0px 0px #1b99cf;
  width: 40vw;
  height: 80vh;
  text-align: center;
  background-color: white;
}
h3 {
  margin: 20px 0px;
}
form {
  margin-left: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1vw;
}

div form div {
  text-align: initial;
}

form input {
  padding: 0.5vw 1vh;
  border-radius: 1vw;
  background: rgb(216, 216, 216);
  border: 1px solid gray;
  margin: 5px;
  box-shadow: 1px 1px 2px 0px gray;
  width: 80%;
}

input:focus {
  outline: none;
}

form label {
  font-size: 1vw;
  display: block;
  margin: 0.5vh;
  margin-left: 10px;
}

::placeholder {
  font-size: 0.8vw;
  color: black;
  padding-left: 0.3vw;
}
form h2 {
  font-size: 1.2vw;
  text-align: center;
  margin-bottom: 3vh;
  margin-top: 0.1vh;
}
[type="password"] {
  margin-bottom: 5vh;
}

button {
  box-sizing: border-box;
  color: white;
  width: 12vw;
  height: 6vh;
  padding: 0.5vw;
  border-radius: 1vw;
  background-color: #1b99cf;
  border: none;

}

button:hover {
  border: 1px solid #1b99cf;
  box-shadow: 2px 2px 2px 0px #1b99cf;
  cursor: pointer;
}