
.form__container {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10%;
  padding: 30px;
  box-shadow: 7px 7px 0px 0px #1b99cf;
  width: 40vw;
  height: 81vh;
  text-align: center;
  background-color: white;
}
h2{
  font-size:1.5vw;
}
h3 {
  font-size:1vw;
  margin: 1vw 0px;
}
form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1vw;
  margin-left: 40px;
}

div form div {
  text-align: initial;
}

form input {
  padding: 0.5vw 2vh;
  border-radius: 2vw;
  background: rgb(216, 216, 216);
  border: 1px solid gray;
  margin: 5px;
  box-shadow: 1px 1px 2px 0px gray;
  width: 75%;
}

input:focus {
  outline: none;
}

form label {
  font-size: 0.9vw;
  display: block;
  margin: 0.6vh;
  margin-left: 20px;
}

::placeholder {
  font-size: 0.7vw;
  color: black;
  padding-left: 0.3vw;
}

[type="password"] {
  margin-bottom: 4vh;
}


button {
  margin: auto;
  display:block;
  box-sizing: border-box;
  color: white;
  width: 15vw;
  height: 5vh;
  padding: 0.5vw;
  border-radius: 2vw;
  background-color: #1b99cf;
  border: none;
}

button:hover {
  border: 1px solid #1b99cf;
  box-shadow: 2px 2px 2px 0px #1b99cf;
  cursor: pointer;
}