
form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 3vw;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius:10%;
    padding:40px;
    box-shadow: 7px 7px 0px 0px #1B99CF;
    width: 20vw;
    height: 50vh;
    text-align: center;
    background-color: white;
}

form input {
    padding: 0.5vw 2vh;
    border-radius: 2vw;
    background: rgb(230, 230, 230);
    border:none;
    border-bottom: 1px solid rgb(129, 129, 129);
    margin: 10px;
    box-shadow: 0.5px 0.5px 1px 0px gray;
    width:12vw
}

input:focus {
    outline: 2px solid #1B99CF;
}

form label {
    font-size: 1.2vw;
    display: block;
    margin: 0.3vh;
}

::placeholder {
    font-size:0.9vw;
    color: black;
    padding-left: 0.3vw;
}
form h2 {
    font-size: 1.7vw;
    text-align: center;
    margin-bottom: 3vh;
    margin-top:0.1vh
}
[type="password"] {
    margin-bottom: 3vh;
}

button {
    box-sizing: border-box;
    color: white;
    width: 14vw;
    height: 6vh;
    padding: 0.5vw;
    border-radius: 1vw;
    background-color: #1B99CF;
    border: none;
    box-shadow: 1px 2px 1px 0px rgb(196, 196, 196);
}
.boton_login {
    font-size:0.8vw;
}

button:hover {
    border: 1px solid #1B99CF;
    box-shadow: 2px 2px 2px 0px #1B99CF;
    cursor: pointer;
}

.recuperacion {
    font-size: 0.9vw;
    margin-top: 2vh;
    text-decoration: none;
}
.registro {
    color:#1B99CF;
    font-size: 0.9vw;
    margin-top:1vh;
    margin-left: 5vw ;
    text-decoration: none;
}
.boton_ganadero {
    display: block;
    font-size: 1vw;
    margin-top:5vh;
    margin-bottom: 4vh;
}
.boton_ganadero button {
    width: 12vw;
    height: 6vh
}
.boton_veterinario {
    font-size: 1vw;
    margin-top:4vh;
    margin-bottom: 4vh;
}
.boton_veterinario button {
    width: 12vw;
    height: 6vh
}
.retorno {
    font-size: 1vw;
    display: block;
    margin: auto;
}
.division {
    font-size: 1vw;
    font-weight: bold;
}
.reg {
    text-decoration: none;
    color: white;
}
