@page
@model Ganaderia.App.Presentacion.Pages.RegSpecimenModel
@{
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/form.css">
</head>
<body>
    <form action="">
        <h2>Registrar ejemplar</h2>
        <p>Dilengia los siguientes campos</p>
        <label for="gender">Genero</label>
        <input type="text" name="gender" placeholder="Ingresa el genero">
        <label for="weight">Peso</label>
        <input type="text" name="weight" placeholder="Ingresa el peso">
        <label for="">Edad</label>
        <input type="text" name="" placeholder="Ingresa la edad">
        <label for="vacunas">Vacunas</label>
        <input type="text" name="vacunas" placeholder="Tiene vacunas">
        <label for="patologias">Cantidad de ejemplares</label>
        <input type="text" name="patologias" placeholder="Patologias">
        <button type="submit">Registar</button>
    </form>
</body>
</html>