@page
@model Ganaderia.App.Presentacion.Pages.HerdsModel
@{
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Predio.css"></link>
</head>
<body>
        <table class="table table-striped">
        <h2>Ganados</h2>
        <thead>
            <tr>
                <th>Id</th>
                <th>Cantidad de ejemplares</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var herd in Model.Herds)
            {
                <tr>
                <form action="" method="post">
                    <td>@herd.Id</td>
                    <td>@herd.AmountOfSpecimen</td>
                    <input style="display:none;" value=@herd.Id name="Id">
                    <td>
                        <button type="submit" asp-page-handler="Delete"> Eliminar </button>
                    </td>
                </form>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>