@page
@model Ganaderia.App.Presentacion.Pages.RegHerdModel
@{
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/form.css">
</head>
<body>
    <form action="">
        <h2>Registrar ganado</h2>
        <p>Dilengia los siguientes campos</p>
        <label for="">Cantidad de ejemplares</label>
        <input type="text" name="" placeholder="Ingresa la cantidad">
        <button type="submit">Registar</button>
    </form>
</body>
</html>