@page
@model Ganaderia.App.Presentacion.Pages.RegVaccineModel
@{
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/form.css">
</head>
<body>
    <form action="">
        <h2>Registrar ejemplar</h2>
        <p>Dilengia los siguientes campos</p>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" placeholder="Ingresa el nombre">
        <label for="lote">Lote</label>
        <input type="text" name="lote" placeholder="Ingresa el lote">
        <label for="lab">Laboratorio</label>
        <input type="text" name="lab" placeholder="Ingresa el laboratorio">
        <button type="submit">Registar</button>
    </form>
</body>
</html>