@page
@model Ganaderia.App.Presentacion.Pages.RegPredioModel
@{
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/form.css">
    <link rel="stylesheet" href="~/css/normalize.css">
</head>
<body>
    <form class="form-pred" action="" method="post">
        <h2>Registrar predio</h2>
        <p>Dilengia los siguientes campos</p>
        <label for="name">Nombre</label>
        <input type="text" name="Name" placeholder="Ingresa el nombre">
        <label for="Lat">Latitud</label>
        <input type="text" name="Latitud" placeholder="Ingresa latitud">
        <label for="long">Longitud</label>
        <input type="text" name="Longitud" placeholder="Ingresa longitud">
        <label for="add">Dirección</label>
        <input type="text" name="Address" placeholder="Ingresa la dirección">
        <label for="city">Ciudad</label>
        <input type="text" name="City" placeholder="Ingresa la ciudad">
        <label for="city">cantidad de ejemplares</label>
        <input type="text" name="AmountOfSpecimen" placeholder="Ingresa la ciudad">
        <button type="submit" asp-page-handler="Add">Registar</button>
    </form>
</body>
</html>