@page
@model Ganaderia.App.Presentacion.Pages.Reg_ganaderoModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Reg_ganadero.css">
    <link rel="stylesheet" href="~/cssnormalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@1,75,800&display=swap"
        rel="stylesheet">
    <title>SysGan</title>
    <link rel="icon" href="vaca.ico">
</head>

<body>
    <div class="derecha">
        <div class="form__container">
            <h2>¡Hola Ganadero!</h2>
            <h2>Bienvenido/a</h2>
            <h3>Por favor diligencia los siguientes datos:</h3>
            <form method="post">
                <div><label for="Nombre">Nombre</label>
                    <input type="text" placeholder="ingresa tus nombres" name= "Name">
                </div>

                <div><label for="Apellidos">Apellidos</label>
                    <input type="text" placeholder="ingresa tus apellidos" name="LastName">
                </div>

                <div><label for="Cedula">Cédula</label>
                    <input type="text" placeholder="ingresa tu cedula" name ="CitizenID">
                </div>

                <div><label for="telefono">Télefono</label>
                    <input type="text" placeholder="ingresa tu teléfono" name ="PhoneNumber">
                </div>

                <div><label for="profesion">Ciudad de residencia</label>
                    <input type="text" placeholder="ingresa tu ciudad de residencia" name="CityOfResidence">
                </div>

                <div><label for="Email">Email</label>
                    <input type="email" placeholder="ingresa tu correo" name="Email">
                </div>
                
                <div><label for="Contrasena">Cantidad de predios</label>
                    <input type="text" placeholder="ingresa la cantidad de predios" name="AmountOfFarms">
                </div>

                <div><label for="Contrasena">Contraseña</label>
                    <input type="password" placeholder="ingresa tu contraseña" name = "Password">
                </div>
                
                <div class="boton">
                    <button type="submit" asp-page-handler="Add">Registrarse</button>
                </div>

            </form>

        </div>
    </div>
</body>

</html>